* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Ubuntu, Roboto, Tahoma, Verdana, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #454545;
  background: #FFF;
  height: 100vh;
  height: 100svh;
}

h2 {
  font-size: 1.75rem;
}

a {
  font-weight: 400;
  text-decoration: none;
  transition: font-weight 50ms;
}

a:hover,
a:focus,
a:active {
  font-weight: 700;
}

/*
====================
Header
====================
*/

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header {
  display: flex;
  max-width: 1200px;
  height: 64px;
  margin: 0 auto;
}

.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFF;
  padding: 0 24px;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 16px;
}

.header-logo-img {
  height: 130%;
}

.header-logo-body {
  font-size: 120%;
  text-transform: uppercase;
  margin: 0;
}

.header-logo-body-bold {
  font-weight: 700;
}

.header-logo-body-light {
  opacity: 0.7;
}

.header-mobile {
  display: none;
}

/* Navigation */

.nav-main-ul {
  display: flex;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.nav-main-link {
  color: #454545;
}

/*
====================
Main content
====================
*/

main {
  position: relative;
  top: 64px;
}

.container {
  display: flex;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px;
}

/*
====================
Section 1
====================
*/

.section-1 {
  background-color: #dbdbdb;
}

.section-1-img {
  width: 60%;
  object-fit: cover;
}

.section-1-img-mobile {
  display: none;
}

.section-1-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 260px;
}

.section-1-title {
  font-size: 2rem;
  font-weight: 700;
}

.section-1-body {
  font-weight: 700;
  margin: 32px 0 24px 0;
}
.section-1-btn {
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  color: #dbdbdb;
  background-color: #454545;
  display: inline-block;
  padding: 10px 0px;
  transition: background-color 250ms, transform 250ms;
}

.section-1-btn:hover,
.section-1-btn:focus,
.section-1-btn:active {
  color: #dbdbdb;
  background-color: #000000;
  opacity: 1;
  transform: scale(1.05);
}

/*
====================
Section 2
====================
*/

/* Section 2 main */

.section-2 {
  padding: 0 0 0 16px;
  border-right: 2px solid #dbdbdb;
  border-left:2px solid #dbdbdb;
}

.section-2-main-content {
  width: 60%;
}

.section-2-main-content-img {
  width: 100%;
  object-fit: cover;
  margin-top: 32px;
}

.section-2-main-content-title {
  margin: 32px 0 24px 0;
}

.section-2-main-content-footer {
  font-weight: 400;
  margin: 40px auto 32px;
}

/* Section 2 aside */

.section-2-aside {
  width: 40%;
  border-left: 2px solid #dbdbdb;
}

.section-2-aside-item {
  display: flex;
  align-items: center;
  padding: 16px;
}

.section-2-aside-item-first {
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 2px;
  padding-top: 32px;
}

.section-2-aside-item-second {
  border-top: 2px solid #dbdbdb;
}

.section-2-aside-item-third {
  background-color: #dbdbdb;
}

.section-2-aside-item-img {
  width: 35%;
  height: auto;
}

.section-2-aside-item-img-mobile {
  display: none;
}

.section-2-aside-item-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.section-2-aside-item-content-body {
  margin: 8px 0;
}

.section-2-aside-item-content-link {
  color: rgb(54, 171, 255);
}

/*
====================
Section 3
====================
*/

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  padding: 32px 72px;
}

.section-3-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.section-3-content-mobile {
  display: none;
}

.section-3-content-item {
  width: 31.3%;
  background-color: #FFF;
}

.section-3-content-item-img {
  width: 100%;
}

.section-3-content-item-content {
  padding: 16px 16px 24px 16px;
}

.section-3-content-item-subtitle {
  margin: 8px 0;
}

.section-3-content-item-body {
  max-width: 260px;
}

/*
====================
Section 4
====================
*/

/* Section 4 main */

.section-4 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 5px 32px 24px;
  border-left: 2px solid #dbdbdb;
  border-right: 2px solid #dbdbdb;
}

.section-4-title {
  align-self: center;
}

.section-4-title-mobile {
  display: none;
}

.section-4-content {
  display: flex;
  gap: 24px;
}

.section-4-content-main {
  width: 60%;
}

.section-4-content-main-video {
  width: 100%;
}

.section-4-content-main-title {
  margin: 24px 0 8px 0;
}

/* Section 4 aside */

.section-4-content-aside {
  width: 40%;
}

.section-4-content-aside-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.section-4-content-aside-item-first {
  background-color: #dbdbdb;
}

.section-4-content-aside-item-img {
  width: 35%;
}

.section-4-content-aside-item-content {
  width: 65%;
}

.section-4-content-aside-item-title {
  margin-bottom: 8px;
} 

/*
====================
Footer
====================
*/

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 64px auto 0;
  border: 2px solid #dbdbdb;
  padding: 16px 24px 40px 24px;
}

.footer-terms-privacy {
  display: flex;
  gap: 16px;
}

/*
====================
Mobile
====================
*/

@media only screen and (max-width: 700px) {
  /*
  ====================
  Header mobile
  ====================
  */
  
  .header-desktop {
    display: none;
  }
  
  .header-mobile {
    display: flex;
    width: 100%;
    background-color: #FFF;
    padding: 0 24px;
    align-items: center;
    
  }
  
  /* Navigation mobile */
  
  .nav-mobile {
    width: 100%;
  }
  
  .nav-mobile-ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: 4px;
    justify-content: space-between;
  }
  
  .nav-mobile-link {
    display: inline-block;
  }
  
  .container {
    flex-direction: column;
    padding: 16px 16px;
    border: 0;
  } 
  
  /*
  ====================
  Section 1 mobile
  ====================
  */
  
  .section-1 {
    padding: 32px 16px;
  }
  
  .section-1-img {
    display: none;
  }
  
  .section-1-img-mobile {
    display: block;
    width: 100%;
  }
  
  .section-1-content {
    align-self: flex-start;
    max-width: 350px;
  }
  
  .section-1-btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFF;
    opacity: .5
  }
  
  /*
  ====================
  Section 2 mobile
  ====================
  */
  
  .section-2 {
    padding: 16px 16px 32px;
  }
  
  .section-2-main-content {
    display: none;
  }
  
  .div.container.section-2 {
    padding: 32px 16px;
  }
  
  .section-2-aside {
    width: 100%;
    border: 0;
  }
  
  .section-2-aside-item {
    flex-direction: column;
    padding: 0;
  }

  .section-2-aside-item-first,
  .section-2-aside-item-second {
    border: 0;
    margin-bottom: 64px;
  }
  
  .section-2-aside-item-third {
    background-color: #FFF;
  }
  
  .section-2-aside-item-img {
    display: none;
  }
  
  .section-2-aside-item-img-mobile {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
  
  .section-2-aside-item-content {
    width: 100%;
  }
  
  /*
  ====================
  Section 3 mobile
  ====================
  */
  
  .section-3 {
    background-color: #FFF;
    gap: 16px;
    padding: 32px 16px;
    border: 2px solid #dbdbdb;
  }
  
  .section-3-content {
    display: none;
  }
  
  .section-3-content-mobile {
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin: 0;
    gap: 8px;
    padding: 0;
  }
  
  .section-3-content-mobile-item {
    background-color: #dbdbdb;
    width: 100%;
    padding: 16px 16px 24px 16px;
    align-self: center;
  }
  
  /*
  ====================
  Section 4 mobile
  ====================
  */
  
  .section-4 {
    padding: 32px 0 24px;
    gap: 16px;
  }
  
  .section-4-title {
    display: none;
  }
  
  .section-4-title-mobile {
    display: flex;
    justify-content: center;
  }
  
  .section-4-content-main {
    width: 100%;
  }
  
  .section-4-content-main-title,
  .section-4-content-main-body,
  .section-4-content-aside {
    display: none;
  }
  
  /*
  ====================
  Footer mobile
  ====================
  */
  
  .footer-content {
    padding: 16px 24px;
  }
  
  .footer-copyright {
    width: 100%;
  }
  
  .footer-terms-privacy {
    display: none;
  }
}